@font-face {
    font-family: Syne-SemiBold;
    src: url(../fonts/Syne-SemiBold.ttf)
}

@font-face {
    font-family: Syne-Medium;
    src: url(../fonts/Syne-Medium.ttf)
}

@font-face {
    font-family: Syne-Regular;
    src: url(../fonts/Syne-Regular.ttf)
}

@font-face {
    font-family: Syne-Bold;
    src: url(../fonts/Syne-Bold.ttf)
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf)
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins/Poppins-Medium.ttf)
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
}

:root{
    --poppins_medium:'Poppins-Medium';
    --poppins_bold:'Poppins-Bold';
    --poppins_regular:'Poppins-Regular';
    --btn_color:#cb9a59;
}

html {
    scroll-behavior: smooth
}

body,p,h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
    padding: 0
}

body {
    font-family: Poppins-Regular
}

.dark_btn{
    background:var(--btn_color)!important;
    color:#fff!important;
}

#more {
    display: none
}

.mx_-40{
    margin-left:-40px;
    margin-right:-40px;
}

.mx_-50{
    margin-left:-50px;
    margin-right:-50px;
}

.px_40{
    padding-left:40px;
    padding-right:40px;
}

.px_50{
    padding-left:50px;
    padding-right:50px;
}

.section{
    padding-top:100px;
    padding-bottom:100px;
}

.container {
    max-width: 85%
}

.custom-heading-dark {
    font-family: Syne-Bold,sans-serif;
    color: #1b1b1b;
    font-size: 54px;
    margin-bottom: 10px;
    letter-spacing: .5px
}

.custom-navbar-and-slider-section .navbar {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 12
}

.custom-navbar-and-slider-section .nav-link {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-family: 'Syne-Bold'
}

.custom-navbar-and-slider-section .nav-item {
    margin: 20px
}

.custom-navbar-and-slider-section .developer-logo-img {
    width: auto;
    height: 100px;
    filter: brightness(0) invert(1)
}

.custom-navbar-and-slider-section div#collapsibleNavbar {
    width: 89%;
    margin-left: 5%
}

.custom-navbar-and-slider-section .navbar-brand {
    position: relative;
    left: 60px;
    color: #fff
}

.custom-navbar-and-slider-section .sub-nav-img {
    width: auto;
    height: 20px;
    filter: invert(1);
    margin-left: 3px;
    transform: rotate(90deg);
    position: relative;
    top: -3px;
    right: -5px
}

.custom-navbar-and-slider-section .navbar .nav-item.sub-menu {
    position: relative
}

.custom-navbar-and-slider-section .navbar .sub-nav {
    position: absolute;
    top: 25px;
    left: 0;
    width: 250px;
    color: #000;
    list-style: none;
    transform: translate(0px,50px);
    opacity: 0;
    transition: all .5s linear;
    visibility: hidden;
    z-index: 99
}

.custom-navbar-and-slider-section .navbar.sub-nav li {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 5px
}

.custom-navbar-and-slider-section .navbar .sub-nav li a {
    color: #000!important;
    text-align: center
}

.custom-navbar-and-slider-section .nav-item.number-li {
    margin-left: 92px
}

.custom-navbar-and-slider-section .nav-item.number-li a {
    font-family: 'Poppins-Bold';
    font-size: 19px;
}

.custom-navbar-and-slider-section .navbar.navbar-expand-md .nav-item.sub-menu:hover .sub-nav {
    opacity: 1;
    transform: translate(0px,0px);
    visibility: visible
}

.custom-navbar-and-slider-section .navbar .sub-nav li {
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
    padding: 10px
}

.custom-navbar-and-slider-section .navbar .sub-nav {
    padding: 5px;
    margin-top: 10px;
    padding-top: 30px
}

.custom-navbar-and-slider-section .navbar .sub-nav li a {
    font-size: 16px
}

.custom-navbar-and-slider-section .navbar .sub-nav .sub-nav-2 {
    background-color: #fff;
    color: #000
}

.custom-navbar-and-slider-section .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-left: unset;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 3px;
    border-bottom: 1px solid #f1f1f1
}

.custom-navbar-and-slider-section .fixed-header .developer-logo-img {
    width: auto;
    height: 80px;
    filter: unset!important
}

.custom-navbar-and-slider-section .fixed-header .nav-link {
    font-size: 16px;
    color: #1b1717
}

.custom-navbar-and-slider-section .fixed-header .sub-nav-img {
    filter: unset!important
}

.custom-navbar-and-slider-section .fixed-header .nav-item.number-li a {
    font-family: 'Poppins-Bold';
    font-size: 16px
}

.sub-nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    background-color: #ffff;
    padding: 30px;
    list-style: none;
    width: 349px;
    opacity: 0;
    visibility: hidden;
    right: -349px;
    transition: .5s linear;
    padding-bottom: 0
}

.sub-nav li {
    margin-bottom: 11px;
    border-bottom: 1px solid #ededed
}

.sub-nav li a {
    color: #000
}

.sub-nav .sub-menu-banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 250px;
    object-fit: cover
}

.sub-nav .submenu-heading {
    font-family: 'Syne-Bold';
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-top: 0
}

.sub-nav li a {
    font-family: 'Syne-SemiBold';
    font-size: 18px
}

.sub-nav button.btn.btn-close {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #d3a05d;
    color: #fff;
    position: absolute;
    left: -64px;
    border-radius: 0
}

.sub-nav.active {
    opacity: 1;
    visibility: visible;
    right: 0
}

.sub-nav-2 {
    overflow: scroll;
    height: 100%
}

.sub-nav-2::-webkit-scrollbar-thumb {
    background: #d3a05d
}

.sub-nav-2::-webkit-scrollbar {
    width: 5px
}

.custom-slider {
    height: 100vh
}

.custom-slider img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    animation: zoom-out 8s linear infinite;
    transform: scale(1.2)
}

.custom-slider .carousel-inner {
    height: 100%
}

.custom-slider .carousel-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    z-index: 9
}

.custom-slider .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    color: #fff;
    text-align: center
}

.custom-slider .slider-content .demo-heading {
    font-size: 64px;
    font-family: 'Syne-Bold'
}

.custom-slider .slider-content .sub-heading {
    font-size: 18px;
    margin-top: 25px
}

.custom-slider .slider-content .explore-heading {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    color: #000!important;
    font-size: 14px;
    line-height: 100px;
    position: relative;
    top: 34px;
    font-family: 'Syne-Bold';
    outline: 1px solid #fff;
    outline-offset: 5px
}

.custom-slider .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer
}

.custom-slider .carousel-indicators {
    bottom: 60px
}

.custom-slider .carousel-control-prev {
    width: 80px;
    height: 80px;
    top: 42%;
    left: 2%;
    opacity: 9;
    z-index: 12;
    border-radius: 50%;
    border: 1px solid #fff
}

.custom-slider .carousel-control-next {
    width: 80px;
    height: 80px;
    top: 42%;
    right: 2%;
    opacity: 9;
    z-index: 12;
    border-radius: 50%;
    border: 1px solid #fff
}

.custom-slider .Residential-heading-top {
    position: absolute;
    bottom: 10%;
    z-index: 13;
    color: #fff;
    left: 21%;
    font-size: 30px;
    font-family: 'Syne-SemiBold';
    border-bottom: 1px solid #fff;
    letter-spacing: 0.5px;
}

.custom-slider .Commercial-heading-top {
    position: absolute;
    bottom: 10%;
    z-index: 13;
    color: #fff;
    right: 21%;
    font-size: 30px;
    font-family: 'Syne-SemiBold';
    border-bottom: 1px solid #fff;
    letter-spacing: 0.5px;
}

.top-sub-heading {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Syne-Bold';
    letter-spacing: .5px;
    margin-bottom: 15px
}

.custom-slider .slider-content .explore-heading a {
    color: #000;
    display: block
}

@keyframes zoom-out {
    100% {
        transform: unset
    }
}

.sidebar-contact {
    position: fixed;
    top: 50%;
    z-index: 99;
    right: -360px;
    transform: translateY(-50%);
    width: 360px;
    height: auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
    transition: .5s
}

.sidebar-contact.active {
    right: 0
}

.sidebar-contact input,.sidebar-contact textarea {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #f7f7f7;
    outline: none
}

.sidebar-contact input,.sidebar-contact textarea::placeholder {
    padding: 6px 15px
}

.sidebar-contact h2 {
    font-family: 'Syne-SemiBold';
    letter-spacing: 2px;
    padding: 0;
    font-size: 23px
}

.sidebar-contact p {
    position: relative;
    margin-bottom: 50px
}

.sidebar-contact p:before {
    content: "";
    width: 50px;
    height: 4px;
    bottom: -25px;
    left: 0;
    background-color: #c99958;
    position: absolute
}

.sidebar-contact textarea {
    height: 50px;
    resize: none
}

.sidebar-contact .btn-all {
    background-color: var(--yellow);
    color: #fff;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none;
    font-family: "BebasNeue-Regular";
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer
}

.sidebar-contact .toggle {
    position: absolute;
    height: 48px;
    width: 48px;
    text-align: center;
    cursor: pointer;
    background: #d3a05d;
    top: 0;
    left: -48px;
    line-height: 48px
}

.sidebar-contact .toggle:before {
    content: '\f003';
    font-family: fontAwesome;
    font-size: 20px;
    color: #fff
}

.sidebar-contact .toggle.active:before {
    content: '\f00d'
}

.sidebar-contact .form-btn {
    display: block;
    background-color: #c99958;
    color: #fff;
    border-radius: 0;
    font-family: 'Syne-SemiBold';
    letter-spacing: 5px;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 12px;
    cursor: pointer;
    text-align: center
}

.overview-container {
    padding-top: 100px;
    padding-bottom: 100px
}

.overview-container .overview-img {
    width: 90%;
    height: 100%;
    object-fit: cover
}

.overview-container .sub-heading-top,
.sec_heading .sub_heading {
    font-family: 'Syne-Bold';
    border-bottom: 1px solid #080707;
    width: fit-content;
    margin-bottom: 20px;
    padding-bottom: 3px;
    font-size: 16px
}

.overview-containerr .left-col p {
    background-color: #D3A05D;
    width: fit-content;
    padding: 16px 36px;
    color: #fff;
    font-family: 'Syne-SemiBold';
    font-size: 34px;
    position: absolute;
    bottom: 0;
    right: 6%
}

.overview-container .left-col {
    position: relative
}

.overview-container .right-col p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px
}

.overview-container .left-col p {
    background-color: #D3A05D;
    width: fit-content;
    padding: 16px 36px;
    color: #fff;
    font-family: 'Syne-SemiBold';
    font-size: 34px;
    position: absolute;
    bottom: 0;
    right: 6%
}

.overview-container .overview-projectname {
    font-family: 'Syne-SemiBold';
    margin-bottom: 25px;
    margin-top: 30px
}

.overview-container .right-col .overview-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin-top: 42px;
    list-style: none
}

.overview-container .right-col .overview-ul li {
    font-family: Syne-Bold,sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center
}

.overview-container .overview-img-icon {
    width: auto;
    height: 65px;
    margin-right: 22px
}

.overview-container .right-col .overview-ul li span {
    text-align: center
}

.overview-container .count-custom {
    font-size: 40px
}

.overview-container .overview-img-icon.expertise-icon {
    opacity: .9
}

.featured-projects-container {
    padding-top: 80px;
    padding-bottom: 80px
}

.featured-projects-container .container {
    max-width: 85%;
}

.featured-projects-container .project-cover {
    height: 100%;
    position: relative
}

.featured-projects-container .sub-heading-top {
    font-family: 'Syne-Bold';
    border-bottom: 1px solid #080707;
    width: fit-content;
    padding-bottom: 3px;
    margin: 0 auto;
    margin-bottom: 20px
}

.featured-projects-container .project-box .project-box-img {
    height: 310px;
    object-fit: cover
}

.featured-projects-container .project-box-img-logo {
    width: auto!important;
    height: 80px;
    background-color: #fff
}

.featured-projects-container .owl-carousel.owl-theme.owl-loaded.owl-drag {
    margin-top: 50px
}

.featured-projects-container .project-name {
    font-family: 'Poppins-Bold';
    font-size: 20px;
    margin-bottom: 10px;
    color: #000
}

.featured-projects-container .project-box-content {
    padding: 15px;
    color: #fff;
    text-align: center;
}

.featured-projects-container .project-location {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 15px
}

.featured-projects-container .project-box {
    background-color: #f3f0eb;
    width: 96%;
    position: relative;
    border: 1px solid #e7e7e7
}

.featured-projects-container .owl-prev {
    position: absolute;
    line-height: 49px!important;
    border-radius: 50%!important;
    border: 1px solid #000!important;
    font-size: 30px!important;
    width: 60px;
    height: 60px;
    top: 23%;
    left: -7%;
    opacity: 9;
    z-index: 12
}

.featured-projects-container .owl-next {
    position: absolute;
    line-height: 49px!important;
    border-radius: 50%!important;
    border: 1px solid #000!important;
    font-size: 30px!important;
    width: 60px;
    height: 60px;
    top: 23%;
    right: -7%;
    opacity: 9;
    z-index: 12
}

.featured-projects-container .project-box .cate-name {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    padding: 10px;
    letter-spacing: .5px;
    font-family: Poppins-Bold;
    font-size: 18px
}

.featured-projects-container .project-box .typology-heading {
    background-color: #fff;
    bottom: 30%;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    color: #4d4d4d;
    letter-spacing: .5px;
    font-weight: 700
}

.featured-projects-container .btn-custom-2 {
    margin-top: 20px;
    background-color: #c99958;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    padding: 10px 20px;
    letter-spacing: .5px
}

.featured-projects-container .project-size-heading {
    display: block;
    padding-top: 10px
}

.featured-projects-container .btn-custom-2 a {
    color: #fff
}

.featured-projects-container .btn-custom-2 a:hover {
    color: #fff;
    text-decoration: none
}

.featured-projects-container .logo-div-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center
}

.testimonials-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F3F0EB;
    position: relative
}

.testimonials-container .custom-heading {
    font-family: Syne-Bold,sans-serif;
    color: #232323;
    font-size: 56px;
    margin-bottom: 10px;
    letter-spacing: .5px
}

.testimonials-container .sub-heading-top {
    font-family: 'Syne-SemiBold';
    border-bottom: 1px solid #2e2c2c;
    width: fit-content;
    padding-bottom: 3px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 30px
}

.testimonials-container .avatar-img {
    width: auto;
    height: 150px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px
}

.testimonials-container .testimonials-content {
    padding-top: 10px;
    width: 73%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    letter-spacing: .5px;
    line-height: 26px
}

.testimonials-container .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #232323
}

.testimonials-container .carousel-indicators .active {
    background-color: #d3a05d
}

.testimonials-container .clients-name-heading {
    margin-bottom: 10px;
    font-family: 'Syne-SemiBold';
    font-size: 31px;
    text-transform: uppercase;
}

.testimonials-container .testimonials-content p {
    margin-bottom: 50px;
    margin-top: 20px;
}

.testimonials-container .carousel-control-prev {
    width: 80px;
    height: 80px;
    top: 42%;
    left: 2%;
    opacity: 9;
    z-index: 12;
    border-radius: 50%;
    border: 1px solid #232323
}

.testimonials-container .carousel-control-next {
    width: 80px;
    height: 80px;
    top: 42%;
    right: 2%;
    opacity: 9;
    z-index: 12;
    border-radius: 50%;
    border: 1px solid #232323
}

.testimonials-container span.carousel-control-prev-icon {
    filter: brightness(0)
}

.testimonials-container .carousel-control-next span.carousel-control-next-icon {
    filter: brightness(0)
}

.contact-container {
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: #232323
}

.contact-container .container .row {
    border-bottom: 1px solid #535353;
    padding-bottom: 50px
}

.contact-container .custom-heading {
    font-family: Syne-Bold,sans-serif;
    color: #fff;
    font-size: 54px;
    margin-bottom: 10px;
    letter-spacing: .5px
}

.contact-container .left-col .sub-heading-top {
    font-family: 'Syne-SemiBold';
    border-bottom: 1px solid #fff;
    width: fit-content;
    margin-bottom: 20px;
    padding-bottom: 3px;
    font-size: 16px
}

.contact-container .left-col p {
    color: #fff
}

.contact-container .contact-us-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.contact-container .contact-us-footer .form-group {
    width: calc(50% - 10px);
    position: relative;
    margin-bottom: 20px
}

.contact-container .contact-us-footer .form-control {
    border-radius: 0;
    height: 65px;
    background-color: #393838;
    border: none;
    color: #fff;
    padding-left: 50px
}

.contact-container .contact-us-footer .form-control::placeholder {
    color: #afafaf
}

.contact-container .contact-us-footer i.fa {
    color: #afafaf;
    font-size: 20px;
    position: absolute;
    top: 22px;
    left: 21px
}

.contact-container .contact-us-footer .btn-custom {
    border: none;
    padding: 15px 30px;
    background-color: #cb9a59;
    color: #fff;
    font-family: 'Syne-SemiBold';
    font-size: 18px;
    margin-top: 15px;
    display: block;
    cursor: pointer;
}

.footer-container-section {
    padding-top: 50px;
    padding-bottom: 15px;
    background-color: #232323;
    color: #fff
}

.footer-container-section .container h4 {
    font-family: 'Syne-Bold';
    font-size: 19px;
    margin-bottom: 29px;
    text-transform: uppercase
}

.footer-container-section .container .col-sm-12.text.text-center {
    font-size: 14px;
    border-top: 1px solid #585858;
    padding-top: 25px;
    margin-top: 60px
}

.footer-container-section .first_col p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .5px
}

.footer-container-section .first_col {
    padding-right: 30px
}

.footer-container-section li {
    list-style: none;
    margin-bottom: 10px
}

.footer-container-section li a {
    color: #fff
}

.footer-container-section .rera-img-pdf {
    height: 100px;
    overflow: auto;
    display: inline-flex;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center
}

.footer-container-section .rera_certificate img {
    width: 100%;
    height: 100px;
    object-fit: cover
}

.footer-container-section .rera_certificate {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer-container-section .rera_certificate a {
    width: calc(50% - 5px)
}

.head-sub-section {
    position: relative;
    padding-top: 280px;
    padding-bottom: 200px;
    background-image: url(../images/head-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.head-sub-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 1
}

.head-sub-section .head-sub-section-heading {
    position: absolute;
    bottom: 120px;
    color: #fff;
    z-index: 9;
    left: 170px;
    font-size: 42px;
    font-family: 'Syne-Bold'
}

.head-sub-section .breadcurmes {
    position: absolute;
    bottom: 50px;
    z-index: 9;
    color: #fff;
    list-style: none;
    left: 170px
}

.head-sub-section .breadcurmes li a {
    color: #fff;
    font-size: 18px
}

.contact-us-section .location-map {
    width: 100%
}

.contact-us-section .custom-col-12 {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px
}

.contact-us-section .contact-details-icon {
    width: auto;
    height: 32px;
    margin: 0px auto;
    margin-bottom: 15px;
}

.contact-us-section .contact-details {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    font-family: 'Poppins-Bold';
    font-size: 22px;
    width: 100%;
    text-align: center;
    justify-content: center
}

.contact-us-section .contact-details .box-custom-1 p {
    margin-left: 18px;
    font-size: 16px;
}

.contact-us-section .contact-details .box-custom-1 {
    width: 100%;
    text-align: center;
}

.modal-body .modal-form {
    padding: 35px
}

.modal-body .close {
    position: absolute;
    right: 21px;
    top: 21px;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center
}

.modal-form .top-form-heading {
    font-family: 'Syne-Bold';
    font-size: 19px;
    margin-bottom: 15px;
    text-transform: uppercase
}

.modal-form .form-group {
    position: relative
}

.modal-form i.fa {
    color: #afafaf;
    font-size: 20px;
    position: absolute;
    top: 18px;
    left: 10px
}

.modal-form .form-control {
    height: 58px;
    border-radius: 0;
    padding-left: 35px
}

.modal-form .btn-custom {
    border: none;
    padding: 12px 26px;
    background-color: #cc9a5a;
    color: #fff;
    font-size: 18px;
    width: 100%;
    margin-top: 10px
}

.modal-form .project-logo-modal {
    font-family: 'Syne-Bold';
    font-size: 38px;
    margin-bottom: 20px
}

.mobile-section-1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0d0d0c;
    z-index: 99;
    display: none
}

.mobile-section {
    display: flex;
    justify-content: center
}

.mobile-section-1 a.btn.btn-success.btn-block {
    font-size: 14px;
    background-color: #c59a4a;
    width: 100%;
    border: none;
    border-radius: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0;
    color: #000;
    font-weight: 600;
    font-size: 13px;
}

.head-sub-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.head-sub-section .breadcurmes {
    bottom: 30px;
    left: 100px;
}

.head-sub-section .head-sub-section-heading {
    bottom: 80px;
    left: 100px;
    font-size: 28px;
}

.head-sub-section .breadcurmes li a {
    font-size: 15px;
}
.sub-nav a{
 
    color: #000000e3!important;
}
.sub-nav a:hover{
    text-decoration: none;
    color: #0000;
}

/* .sec_heading */

.sec_heading{
    margin-bottom:25px;
}


.sec_heading .sub_heading{
    text-transform: uppercase;
}
.sec_heading.center{
    text-align: center;
}

.sec_heading.center .sub_heading{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* .vision-mission */

/* .vision-mission .left_col */

.vision_section .left_col .content{
    position:relative;
    height:calc(100% + 200px);
}

.vision_section .left_col .vision-img{
    width: 100%;
    position:absolute;
    content:'';
    left:0;
    top:0;
    height:100%;
    object-fit: cover;
}

.vision_section .right_col{
    margin-bottom: 150px;
}

.vision_section p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .5px;
}

/* mission_section */

.mission_section .left_col{
    margin-top: 100px;
}

.mission_section .right_col .content{
    position:relative;
    height:calc(100% + 200px);
    margin-top:-200px;
}

.mission_section .right_col .mission-img{
    width: 100%;
    position:absolute;
    content:'';
    right:0;
    top:0;
    height:calc(100% + 200px);
    object-fit: cover;
}

/* services page */

.service_section .services_col{
    margin-top:100px;
}

.service_section .service_col{
    position:relative;
}

.service_section .service_col .thumbnail{
    /* position:absolute;
    left:0;
    top:0; */
    width:100%;
    height: 500px;
    object-fit: cover;
}

.service_section .service_col .content{
    /* position:relative; */
    z-index: 1;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    /* transform: translateY(30px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(0deg, #000000a8, transparent);
}

.service_section .service_col .data{
    transform: translateY(30px);
    color:#fff;
    transition:all 0.3s ease-in-out;
}

.service_section .service_col .title{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--poppins_medium);
}

.service_section .service_col .content p{
    font-size: 14px;
    margin-top:12px;
    letter-spacing: 0.3px;
    color:#efefef;
}

.service_section .content .btn{
    opacity:0;
    visibility: hidden;
    transition:all 0.3s ease-in-out;
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 13px;
    letter-spacing: 0.5px;
    border-radius: 0;
}

.service_section .service_col:hover .data{
    transform: translateY(0px);
}

.service_section .service_col:hover .content{
    /* background:#00000082; */
    background-image: linear-gradient(0deg, #000000a8,  #0000005c, transparent);
}

.service_section .service_col:hover .content .btn{
    opacity: 1;
    visibility: visible;
}

.service_detail_page .thumbnail{
    margin-bottom:50px;
}

.service_detail_page .title{
    font-family: var(--poppins_medium);
    font-size: 28px;
    margin-bottom: 28px;
}

/* our team */

.team_page .single_team{
    margin: 20px 0;
}

.team_page .single_team .thumbnail{
    margin-bottom:25px;
}

.team_page .single_team .name{
    font-family: var(--poppins_medium);
    font-size: 22px;
    margin-bottom: 6px;
}

.team_page .single_team .desg{
    font-size: 15px;
    color: #6a6e71;
    letter-spacing: 0.5px;
}

/* start responsive */

@media(max-width: 1600px) {
    .container {
        max-width:95%
    }

    .custom-slider .slider-content .demo-heading {
        font-size: 48px
    }

    .top-sub-heading {
        font-size: 15px;
    }

    .custom-slider .slider-content .sub-heading {
        font-size: 16px;
        margin-top: 18px
    }

    .custom-slider .slider-content .explore-heading {
        width: 80px;
        height: 80px;
        font-size: 13px;
        line-height: 80px;
        top: 34px
    }

    .developer-logo-img {
        height: 80px
    }

    .custom-slider .slider-content .sub-heading {
        font-size: 16px;
        margin-top: 18px
    }

    .custom-slider .slider-content .explore-heading {
        width: 80px;
        height: 80px;
        font-size: 13px;
        line-height: 80px;
        top: 34px
    }

    .custom-navbar-and-slider-section .developer-logo-img {
        height: 85px
    }

    .custom-navbar-and-slider-section .navbar {
        top: 0;
        padding-top: 17px
    }

    .custom-navbar-and-slider-section .nav-link {
        font-size: 16px
    }

    .custom-slider .ivr-number {
        top: 47px;
        right: 106px;
        font-size: 20px
    }

    .custom-navbar-and-slider-section .nav-item {
        margin: 12px
    }

    .custom-navbar-and-slider-section .nav-link {
        font-size: 15px
    }

    .custom-navbar-and-slider-section .nav-item.number-li a {
        font-size: 17px
    }

    .custom-navbar-and-slider-section .nav-item.number-li {
        margin-left: 50px!important
    }

    .custom-navbar-and-slider-section .fixed-header {
        padding-top: 2px;
        padding-bottom: 2px
    }

    .custom-navbar-and-slider-section .fixed-header .developer-logo-img {
        width: auto;
        height: 60px;
        filter: unset!important
    }

    .custom-navbar-and-slider-section .fixed-header .nav-item {
        margin: 14px
    }

    .custom-navbar-and-slider-section .fixed-header .nav-link {
        font-size: 15px
    }

    .custom-slider .Residential-heading-top {
        font-size: 24px
    }

    .custom-slider .Commercial-heading-top {
        font-size: 24px
    }

    .custom-slider .carousel-control-prev {
        width: 60px;
        height: 60px
    }

    .custom-slider .carousel-control-next {
        width: 60px;
        height: 60px
    }

    .custom-heading-dark {
        font-size: 48px
    }

    .overview-container {
        padding-top: 80px;
        padding-bottom: 80px
    }

    .overview-container .right-col p {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: .5px;
        text-align: justify;
        margin-top: 20px
    }

    .overview-container .left-col p {
        padding: 13px 36px;
        font-size: 30px;
        bottom: 0;
        right: 6%
    }

    .overview-container .overview-img {
        width: 96%;
        height: 100%;
        object-fit: cover
    }

    .overview-container .right-col .overview-ul {
        width: 90%;
        margin-top: 30px
    }

    .overview-container .overview-img-icon {
        height: 58px;
        margin-right: 22px
    }

    .overview-container .count-custom {
        font-size: 36px
    }

    .featured-projects-container {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .featured-projects-container .project-box .project-box-img {
        height: 255px;
        object-fit: cover
    }

    .featured-projects-container .project-box-img-logo {
        height: 65px
    }

    .featured-projects-container .btn-custom-2 {
        font-size: 16px;
        padding: 10px 20px;
        letter-spacing: .5px
    }

    .contact-container .custom-heading {
        font-size: 46px
    }

    .testimonials-container .custom-heading {
        font-size: 46px
    }

    .testimonials-container {
        padding-top: 50px;
        padding-bottom: 60px
    }

    .contact-container {
        padding-top: 60px;
        padding-bottom: 30px;
        background-color: #232323
    }

    .head-sub-section .head-sub-section-heading {
        bottom: 70px;
        left: 90px;
        font-size: 28px;
    }

    .head-sub-section .breadcurmes {
        bottom: 30px;
        left: 90px;
    }

    .contact-us-section .custom-col-12 {
        max-width: 90%;
    }

    .contact-us-section .contact-details .box-custom-1 p {
        margin-left: 20px;
        font-size: 18px;
    }

    .contact-us-section .contact-details-icon {
        width: auto;
        height: 36px;
        display: block;
        margin: 0px auto;
        margin-bottom: 15px;
    }

    /* services page */

    .service_section .service_col .content{
        padding: 20px;
    }

    .service_section .service_col .thumbnail{
        height: 420px;
    }

    .service_section .service_col .title{
        font-size: 20px;
    }

    .service_section .service_col .content p{
        line-height: 18px;
    }
}

@media(max-width: 768px) {

    .mx_-15{
        margin-left: -15px;
        margin-right:-15px
    }

    .px_sm_15 {
        padding-left:15px;
        padding-right:15px;
    }

    .container {
        max-width: 100%;
    }

    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sec_heading .sub_heading{
        font-size:14px;
    }

    .custom-navbar-and-slider-section .navbar {
        top: 0;
        padding-top: 0
    }

    .custom-navbar-and-slider-section .navbar-brand {
        left: 5px;
        color: #fff
    }

    .custom-navbar-and-slider-section .developer-logo-img {
        height: 60px
    }

    .navbar-toggler {
        background-color: #cc9a5a;
        padding: 8px 14px;
        font-size: 18px;
        color: #fff;
        border-radius: 0
    }

    .custom-navbar-and-slider-section div#collapsibleNavbar {
        width: 100%;
        margin-left: 0;
        background-color: #ffff;
        color: #000
    }

    .custom-navbar-and-slider-section .nav-link {
        font-size: 15px;
        color: #000
    }

    .custom-navbar-and-slider-section .sub-nav-img {
        height: 16px;
        filter: unset;
        margin-left: 3px;
        top: -3px;
        right: -5px
    }

    .sub-nav .submenu-heading {
        font-size: 20px;
        margin-bottom: 10px
    }

    .sub-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        padding: 25px;
        list-style: none;
        width: 80%;
        right: -80%
    }

    .sub-nav li {
        margin-bottom: 10px
    }

    .sub-nav li a {
        font-size: 17px;
        padding-left: 0;
        padding-right: 0
    }

    .sub-nav button.btn.btn-close {
        padding: 8px 18px;
        font-size: 18px;
        left: -51px
    }

    .custom-navbar-and-slider-section .fixed-header .nav-item {
        margin: 7px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px
    }

    .custom-navbar-and-slider-section .nav-item {
        margin: 7px;
        padding-left: 15px
    }

    .custom-navbar-and-slider-section .nav-item.number-li {
        margin-left: 0!important
    }

    .custom-slider .slider-content .demo-heading {
        font-size: 38px;
    }

    .custom-slider .carousel-control-prev {
        display: none;
    }

    .custom-slider .carousel-control-next {
        display: none;
    }

    .custom-slider .slider-content .demo-heading {
        font-size: 25px;
    }

    .custom-slider .carousel-control-prev {
        display: none;
    }

    .custom-slider .carousel-control-next {
        display: none;
    }

    .custom-slider .slider-content {
        width: 100%;
    }

    .custom-slider {
        height: 70vh;
    }

    .custom-slider img {
        height: 70vh;
    }

    .custom-slider .Residential-heading-top {
        font-size: 18px;
        left: 5%;
    }

    .custom-slider .Commercial-heading-top {
        font-size: 18px;
        right: 5%;
    }

    .custom-slider .slider-content .sub-heading {
        font-size: 14px;
        margin-top: 18px;
    }

    .custom-slider .carousel-indicators {
        bottom: 20px;
    }

    .sidebar-contact {
        right: -80%;
        width: 80%;
        padding: 25px;
    }

    .overview-container {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .overview-container .overview-projectname {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 24px;
        line-height: 28px;
        color: #d3815d;
    }

    .overview-container .right-col .overview-ul {
        width: 100%;
        margin-top: 30px;
        text-align: center
    }

    .overview-container .sub-heading-top {
        padding-top: 20px
    }

    .overview-container .right-col .overview-ul li {
        width: calc(50% - 5px);
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-wrap: wrap
    }

    .overview-container .overview-img-icon {
        height: 50px;
        margin: 0 auto
    }

    .overview-container .right-col .overview-ul li {
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-wrap: wrap
    }

    .overview-container .overview-projectname span {
        display: block;
        font-size: 16px;
        padding-top: 5px;
        color: #000
    }

    .overview-container .right-col p {
        font-size: 15px;
        margin-top: 0
    }

    .overview-container .right-col .overview-ul li span {
        width: 100%
    }

    .overview-container .overview-img {
        width: 100%
    }

    .overview-container .left-col p {
        padding: 10px 20px;
        font-size: 18px;
        bottom: 0;
        right: 4%
    }

    .custom-heading-dark {
        font-size: 28px;
    }

    .featured-projects-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .featured-projects-container .container {
        max-width: 100%;
    }

    .featured-projects-container .owl-carousel.owl-theme.owl-loaded.owl-drag {
        margin-top: 35px;
    }

    .featured-projects-container .col-sm-12.text-center {
        text-align: left!important;
    }

    .featured-projects-container .sub-heading-top {
        margin: unset;
        margin-bottom: 20px;
    }

    .featured-projects-container .project-box {
        width: 100%;
        margin-bottom: 30px;
    }

    .featured-projects-container .btn-custom-2 {
        margin-left: 10px!important;
        padding: 5px 10px;
    }

    .testimonials-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .testimonials-container .custom-heading {
        font-size: 28px;
    }

    .testimonials-container .testimonials-content {
        width: 100%;
    }

    .testimonials-container .carousel-control-prev {
        display: none;
    }

    .testimonials-container .carousel-control-next {
        display: none;
    }

    .owl-nav {
        display: none;
    }

    .contact-container .custom-heading {
        font-size: 28px
    }

    .contact-container {
        padding-top: 40px;
        padding-bottom: 40px
    }

    .contact-container .contact-us-footer .form-group {
        width: calc(100% - 0px);
        margin-bottom: 20px
    }

    .contact-container .left-col p {
        color: #fff;
        font-size: 15px;
        margin-bottom: 24px
    }

    .footer-container-section {
        padding-top: 0;
        padding-bottom: 0
    }

    .footer-container-section .first_col p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px
    }

    .footer-container-section .second_col ul {
        margin-bottom: 30px
    }

    .footer-container-section .container h4 {
        font-size: 18px;
        margin-bottom: 15px
    }

    .footer-container-section .first_col {
        padding-right: 0
    }

    .footer-container-section .container .col-sm-12.text.text-center {
        padding-bottom: 60px;
    }

    .contact-us-section .location-map {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .contact-us-section .contact-details .box-custom-1 p {
        margin-left: 0px;
    }

    .contact-us-section .custom-col-12 {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .contact-us-section .contact-details {
        font-size: 16px;
    }

    .contact-us-section .contact-details-icon {
        width: auto;
        height: 20px;
        margin-right: 10px;
    }

    .contact-us-section .col-sm-12.col-md-4.col-lg-4 {
        margin-bottom: 20px;
    }

    .contact-us-section .row {
        text-align: left!important;
    }

    .mobile-section-1 {
        display: block;
    }

    .modal-form .project-logo-modal {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modal-body .modal-form {
        padding: 10px;
    }

    .modal-form .form-control {
        height: 50px;
        padding-left: 38px;
    }

    .modal-form i.fa {
        font-size: 18px;
        top: 16px;
        left: 10px;
    }

    .modal-form .top-form-heading {
        font-size: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    /* vision mission page */

    .vision_section .left_col .vision-img{
        position:relative;
        height:auto;
    }

    .vision_section .left_col .content{
        height:auto;
        margin-bottom: 50px;
    }

    .vision_section p{
        font-size:14px;
    }

    /* services page */

    .service_section .services_col{
        margin-top: 40px;
    }

    .service_section .service_col{
        margin:10px 0;
    }

    .service_section .service_col .thumbnail{
        height: 360px;
    }

}

.custom-navbar-and-slider-section .nav-link:hover {
    border-bottom: 0.5px solid #fff;
    padding-bottom: 5px;
}